.chessboard-container {
  background-image: url("../../public/chess-board.png");
  background-size: cover;
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
